.home_content{
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 25px !important;
}
@media only screen and (max-width: 880px) {
    .canvasCardContainer{
        min-height: 60vh !important;
        overflow-x: scroll !important;
    }
    .canvas-container-homepage {
        height: 58vh !important;
        width: 100% !important;
        overflow-x: scroll !important;
      }
      canvas{
          height: 100% !important;
      }
}
